@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0 !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255 !important;
  }
}

body {
  font-family: 'Montserrat', sans-serif !important;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(243, 244, 246, var(--tw-bg-opacity));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
